body {
  height: 100vh;
  color: #945600;
  background-color: #f6efa6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 1% 10% 1% 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: start;
}

ul li {
  display: inline;
  margin-right: 50px;
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  width: 150px;
  left: 0;
  background-color: rgba(148, 86, 0, 0.8);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  text-align: center;
}

.submenu a {
  display: block;
  color: #f6efa6;
  margin: 5px 0;
}

li:hover .submenu {
  display: block;
}

nav a {
  text-decoration: none;
  color: #945600;
}

nav a:hover {
  font-weight: bold;
}

nav {
  display: block;
  margin: 0 auto 30px auto;
  width: 100%;
  height: auto;
}

.banner {
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.about {
  text-align: justify;
  font-size: 20px;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  color: white;
  background-color: #19171d;
  margin-left: -10%;
  width: 100%;
  height: 15%;
  position: absolute;
}

.footerLine1 {
  margin-top: 2%;
}

.footerLine2 {
  margin-bottom: 2%;
}

footer a {
  text-decoration: none;
  color: #f6efa6;
}

footer a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/*
========================================
  Characters' Page
========================================
*/

.charactersGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2%;
  margin-bottom: 3%;
}

.box {
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.box img {
  max-width: 70%;
  border-radius: 8px;
  transition: 0.3s ease;
}

.box img:hover {
  transform: scale(1.1);
}

.box p {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

/*
========================================
  submenu character pages
========================================
*/

.submenuGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.submenuBox {
  text-align: start;
  padding: 10px;
  border-radius: 8px;
}

.submenuBox img {
  width: 80%;
  margin-top: 8%;
  border-radius: 20px;
}

.submenuBox section {
  font-size: 20px;
  text-align: justify;
}
